.task_panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;   
    overflow-wrap: break-word;
    
}

.task_add_form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
}
.textarea_task {
    
    width: 300px;
    border-radius: 10px;
}

.textarea_task:focus {
    outline: none;
}
.add_btn {
    background-color: rgba(255, 255, 255, 0);
    
}
.add_btn:hover {
    transition-duration: 300ms;
    text-shadow: 2px 2px 2px black;
    transform: scale(1.1);
}